.heading {
  /* text-align: center; */
  font-size: 26px;
  font-weight: 600;
  height: 50px;
  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  margin: 0;
}

.complete-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-container {
  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 60%;
  justify-content: center;
}

.btn {
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;

  box-shadow: 2px 2px 3px 0 rgb(0, 68, 128);
  transition: 0.3s;

  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn:hover:enabled {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 3px 2px 3px 0 darkred;
}

.word-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  transition: 0.5s;
  width: 50%;
}

.wordly {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  height: 70px;
  width: 70px;

  font-size: 54px;
  font-weight: 600;
  transition: 0.2s;

  border-radius: 5px;
  color: white;
  box-shadow: 3px 3px 5px 0 darkblue;

  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.lives-container {
  font-size: 34px;
  font-weight: 600;
  text-shadow: 1px 2px 2px darkblue;
  color: rgb(193, 198, 255);
  position: fixed;
  top: 50px;
}

.restart {
  height: 50px;
  width: 120px;
  font-size: 20px;
  border: 0;
  border-radius: 3px;
  background-color: #edde5d;
  box-shadow: 2px 2px 2px 0 gray;
  transition: 0.4s;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.restart:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.4s;
}
